{% extends 'layout/basic.html' %}

{% load static %}

{% block title %}
Профил
{% endblock %}

{% block main %}

<div class="row align-items-center justify-content-center h-100">
    <div class="col-md-5">
       <div class="card p-3">
          <div class="card-body">
             <div class="auth-logo">

             </div>
             <h3 class="mb-3 font-weight-bold text-center">Ваши данные</h3>

             <form method = "post" enctype="multipart/form-data">
                 {% csrf_token %}

                <div class="row">
                   <div class="col-lg-12">
                      <div class="form-group">

                         <label class="text-secondary">Логин</label>
                         <input class="form-control" type="text" name="username" autocomplete="username" autofocus required id="id_username", value="{{ username }}">
                      </div>
                   </div>

                   <div class="col-lg-12 mt-2">
                      <div class="form-group">
                          <div class="d-flex justify-content-between align-items-center">
                              <label class="text-secondary">Email</label>
                          </div>
                         <input class="form-control" type="email" name="email" autocomplete="email" required id="id_email" value="{{ email }}">
                        
                      </div>
                   </div>

                </div>
                <button type="" class="btn btn-primary btn-block mt-2">Изменить</button>

             </form>
          </div>
       </div>
    </div>
 </div>


{% endblock %}