{% load static %}
<!--  -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
      
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
      
      <link rel="stylesheet" href="{% static 'assets/css/backend-plugin.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backend.css' %}">  
      <link rel="stylesheet" href="{% static 'assets/css/my/my.css' %}">  
      {% block link %} {% endblock %}
    </head>
  <body class=" color-light ">
    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
      <div class="iq-sidebar  sidebar-default  ">
          <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
               <a href="" class="header-logo">
                  <!-- <img src="{% static 'assets/images/logo.png' %}" class="img-fluid rounded-normal light-logo" alt="logo">
                  <img src="{% static 'assets/images/logo-dark.png' %}" class="img-fluid rounded-normal d-none sidebar-light-img" alt="logo"> -->
                  <!-- <span>Datum</span>             -->
              </a>
              
              <div class="side-menu-bt-sidebar-1">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                  </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
              <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="side-menu">
                    <!-- ################## START SIDE BAR ################### -->
                    {% include 'layout/sidebar.html' %}
                    



                    <!-- ################## END SIDE BAR ################### -->
                  </ul>
              </nav>
              <div class="pt-5 pb-5"></div>
          </div>
      </div>
       <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="side-menu-bt-sidebar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary wrapper-menu" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                  </div>
                  <div class="d-flex align-items-center">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-label="Toggle navigation">
                          <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="30" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                          </svg>
                      </button>
                      <!-- notification -->
                      <div id="alert" class="alert alert-warning" role="alert" style="display: none;">
                        
                     </div>
                      
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">


                              <li class="nav-item nav-icon dropdown">
                                  <a href="#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                      <img src="{% static 'assets/images/user/user.png' %}" class="img-fluid avatar-rounded" alt="user">
                                      <span class="mb-0 ml-2 user-name">{{ user }}</span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                                    
                                      <li class="dropdown-item d-flex svg-icon">

                                        <svg class="svg-icon mr-0 text-secondary" id="h-01-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                    </svg>
                                          <a href="{% url 'change_profile' %}">Профил</a>
                                      </li>

                                      <li class="dropdown-item d-flex svg-icon">

                                          <svg class="svg-icon mr-0 text-secondary" id="h-03-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />  </svg>
                                          <a href="{% url 'editpassword' %}">Изменить пароль</a>
                                      </li>

                                      <li class="dropdown-item  d-flex svg-icon border-top">
                                          <svg class="svg-icon mr-0 text-secondary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                                          </svg>
                                          <a href="{% url 'logout' %}?next=/">Выход</a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>                     
                      </div> 
                  </div>
              </nav>
          </div>
      </div>
      
      <div class="content-page">
      <div class="container-fluid">
         <div class="row">
             <div class="col-lg-12">
                 {% block main %}
                 {% endblock %}
             </div>
            {% block main_menu %}
            {% endblock %}
         </div>
      </div>
      </div>
    </div>
    <!-- Wrapper End-->
    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1">


                    </span>
                </div>
            </div>
        </div>
    </footer>    <!-- Backend Bundle JavaScript -->

    
    <script src="{% static 'assets/js/backend-bundle.min.js' %}"></script>
    <!-- Chart Custom JavaScript -->
    <script src="{% static 'assets/js/customizer.js' %}"></script>
    
    <script src="{% static 'assets/js/sidebar.js' %}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
    <script src="{% static 'assets/js/tree.js' %}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{% static 'assets/js/table-treeview.js' %}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{% static 'assets/js/sweetalert.js' %}"></script>
    
    <!-- Vectoe Map JavaScript -->
    <script src="{% static 'assets/js/vector-map-custom.js' %}"></script>
    
    <!-- Chart Custom JavaScript -->
    <!-- <script src="{% static 'assets/js/chart-custom.js' %}"></script> -->
    <script src="{% static 'assets/js/charts/01.js' %}"></script>
    <script src="{% static 'assets/js/charts/02.js' %}"></script>
    
    <!-- slider JavaScript -->
    <script src="{% static 'assets/js/slider.js' %}"></script>
    
    <!-- Emoji picker -->
    <script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>
    
    {% block script %} {% endblock %}
    
    <!-- app JavaScript -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>
</html>